.item {
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    margin-top: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.allergens {
    font-weight: bold;
    margin-top: 10px;
    color: #8a4b3a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#navbar {
    float: center;
    padding-left: 35%;
    background-color: rgb(251, 239, 225);
}

#header {
    background-color: rgba(251, 239, 225)
}

.button {
    border: 1px solid gray;
    background-color: #dfc7ba;
    border-radius: 8px;
    padding: 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 8px;
    cursor: pointer;
}
