#header
{
    background-color: rgba(251, 239, 225)
}

#sidebar
{       
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    width: 255px;
    height: 500px;
    padding-left: 30px;
    border-left: 2px solid rgb(222, 180, 150);
    padding-right: 10px;
    margin-left: 20px;
    font-size: 16px;
    background-color: #f7e6dd;
}

#container
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 20px;
    border: 1px solid rgb(222, 180, 150);
    background-color:rgb(253, 249, 247)
}
#navbar
{
    float: center;
    padding-left: 35%;
    background-color: rgb(251, 239, 225);
}


/*img
{
    height: 70px;
    width: auto;
}*/

#promotionpic
{
    float: right;
    padding-right: 5px;
}

#promotiontext
{
    float: left;
    width: 50%;
}

/*.header img
{
    width: 100%;
    height: auto;

}

.header .btn1
{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top:37%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #dfc7ba;
  color: rgb(140, 64, 1);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}
.header .btn2
{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top:37%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #dfc7ba;
  color: rgb(140, 64, 1);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}*/
.button {
    border: 1px solid gray;
    background-color: #dfc7ba;
    border-radius: 8px;
    padding: 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 8px;
    cursor: pointer;
  
}

.txtbutton {

    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    background: rgb(253, 249, 247);
}

.CartButton {
    
   /* margin-top: 75px;
    margin-right: 10px;*/
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    color: black;
    font-size: 36px;
    margin-bottom: 8px;
    cursor: pointer;
}

#cart-count {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 5px;
    right: 5px;
    background: rgb(182, 131, 87);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}



