#header
{
    background-color: #dfc7ba;
}

#sidebar
{       
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    width: 255px;
    height: auto;
    padding-left: 30px;
    border-left: 2px solid rgb(222, 180, 150);
    padding-right: 10px;
}

#container
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 20px;
    border: 1px solid rgb(222, 180, 150);
}

/*img
{
    height: 70px;
    width: auto;
}*/

#testpic
{
    height: 7px;
    width: auto;
    background-color: black;
}

.button {

    border: 1px solid gray;
    border-radius: 8px;
    padding: 2px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.CartButton {
    float: right;
    margin-top: 75px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    color: black;
    font-size: 36px;
    margin-bottom: 8px;
    cursor: pointer;
}



