#header
{
    background-color: #dfc7ba
}

img
{
    height: 70px;
    width: auto;
}

.button {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 2px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    margin-bottom: 8px;
    cursor: pointer;
}

.CartButton {
    float: right;
    margin-top: 75px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    color: black;
    font-size: 36px;
    margin-bottom: 8px;
    cursor: pointer;
}


#sidebar
{
    float: right;
    width: 255px;
    height: 800px;
    padding-left: 30px;
    border-left: 2px solid rgb(222, 180, 150);
    padding-right: 10px;
}
