.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.item-row {
    max-width: 900px;
    margin: 100px auto;
}

.row-title p{
    text-align: left;
    margin-bottom: 0px;
    margin-left: 250px;
    font-size: 30px;
}

.item-grid .item img {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.item-grid .item p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}
